.hidden 
    overflow: hidden

.button 
    display: flex
    align-items: center
    justify-content: center
    padding: 1em 1.7857em 0.92857em
    border-radius: 3px
    border: 1px solid rgba(255, 255, 255, 0.65)
    font-size: 1.4rem
    color: #ffffff
    text-transform: uppercase
    line-height: 1
    font-weight: 500
    transition: all 0.2s
    &:hover
        background: #ffffff
        color: $primary
        box-shadow: 0px 0.5rem 1.1rem rgba(0,0,0,0.2)
    &--red
        background: $secondary
        color: #ffffff
        border: 1px solid $secondary
        &:hover
            background: $secondary
            color: #ffffff
    &--white
        background: #ffffff
        color: $txt-color
        border: 1px solid #ffffff

.title 
    margin-right: 2rem
    font-size: 4.8rem
    line-height: 1
    color: #000000
    @media ( max-width: 1200px )
        font-size: 3.5rem
    @media ( max-width: 575px )
        font-size: 2.6rem

.close
    cursor: pointer
    &:hover
        .close__svg
            fill: $secondary
    &__svg
        width: 2.3rem
        height: 2.3rem
        transition: all 0.2s

.img-hover, 
.video-hover
    &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        background: rgba(0,0,0,0.6)
        opacity: 0
        cursor: pointer
        transition: opacity 0.3s
    &:hover
        &::before,
        &::after
            opacity: 1
    
.img-hover, 
    &::before
        content: ''
        position: absolute
        top: 50%
        right: 0
        left: 50%
        transform: translate(-50%, -50%)
        bottom: 0
        background: url('../images/icons/photograph.svg') no-repeat
        background-size: cover
        width: 45px 
        height: 45px
        opacity: 0
        z-index: 1
        transition: opacity 0.3s
 
.video-hover
    &::before
        content: ''
        position: absolute
        top: 50%
        right: 0
        left: 50%
        transform: translate(-50%, -50%)
        bottom: 0
        background: url('../images/icons/video-camera.svg') no-repeat
        background-size: cover
        width: 45px 
        height: 45px
        opacity: 0
        z-index: 1
        transition: opacity 0.3s
        
