.button 
    display: flex
    align-items: center
    justify-content: center
    padding: 1em 1.7857em 0.92857em
    border-radius: 3px
    border: 1px solid rgba(255, 255, 255, 0.65)
    font-size: 1.4rem
    color: #ffffff
    text-transform: uppercase
    line-height: 1
    font-weight: 500
    transition: all 0.2s
    &:hover
        background: #ffffff
        color: $primary
        box-shadow: 0px 0.5rem 1.1rem rgba(0,0,0,0.2)
    &--red
        background: $secondary
        color: #ffffff
        border: 1px solid $secondary
        &:hover
            background: $secondary
            color: #ffffff
    &--white
        background: #ffffff
        color: $txt-color
        border: 1px solid #ffffff

.title 
    margin-right: 2rem
    font-size: 4.8rem
    line-height: 1
    color: #000000
    @media ( max-width: 1200px )
        font-size: 3.5rem
    @media ( max-width: 575px )
        font-size: 2.6rem