.not-found
    position: relative
    padding: 10rem 0
    background: $primary
    @media ( max-width: 1200px )
        margin-top: 3rem
        padding: 4rem 0 2rem 0
    &__title,
    &__descr,
    &__subtitle
        text-align: center
        color: #ffffff
    &__title
        font-weight: bold
        font-size: 27rem
    &__subtitle
        font-size: 3rem
    &__descr
        font-size: 2rem
    &__map

