.documents
    margin-bottom: 5.5rem
    @media ( max-width: 580px )
        margin-bottom: 2rem
    &__link
        color: #161618
        font-size: 2.4rem
        text-decoration: underline
        @media ( max-width: 1024px )
            font-size: 1.8rem
    &-tabs 
        margin-top: 3rem
        display: flex
        border: 1px solid #dddddd
        @media ( max-width: 730px )
            flex-direction: column
        &__list
            width: 30rem
            min-width: 30rem
            display: flex
            flex-direction: column
            background: #f7f7f7
            @media ( max-width: 730px )
                width: 100%
                min-width: 100%
        &__link 
            position: relative
            cursor: pointer
            padding: 0 1.7857em
            min-height: 7.14285em
            background-color: #f7f7f7
            border: none 
            text-align: left
            border-bottom: 1px solid #dddddd
            color: #6d6e71
            font-size: 1.4rem
            font-weight: 500
            text-transform: uppercase
            transition: all 0.2s
            @media ( max-width: 1024px )
                font-size: 1.3rem
            @media ( max-width: 730px )
                min-height: 7rem
            @media ( max-width: 400px )
                font-size: 1.2rem
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                height: 100%
                width: 4px
                background: $primary
                opacity: 0
            &:last-child
                border-bottom: none 
                @media ( max-width: 730px )
                    border-bottom: 1px solid #dddddd
            &:hover
                background-color: $primary
                color: #ffffff
        &__body
            width: 100%
            height: 100%
            padding: 4rem 3.5rem
            @media ( max-width: 730px )
                padding: 1rem 1.5rem
            @media ( max-width: 400px )
                padding: 0
        &__content 
            display: none
        &__item
            position: relative
            padding-left: 3.5rem
            margin: 1.5rem
            width: 45%
            cursor: pointer
            @media ( max-width: 1150px )
                width: 100%
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 21px
                height: 28px
                background: url('../images/icons/pdf-icon.svg') no-repeat
                background-size: cover 
            &:hover
                a 
                    color: $primary
                    text-decoration: underline
            a 
                color: #6d6e71
                font-size: 1.8rem
                @media ( max-width: 1024px )
                    font-size: 1.6rem
                
            
.documents-tabs__link.active
    background-color: #ffffff
    color: $primary 
    &::before
        opacity: 1

.documents-tabs__content.active 
    // max-height: 720px
    // overflow: auto
    display: flex
    flex-wrap: wrap
    animation: opacity 0.9s ease
 
@keyframes opacity 
    0% 
       opacity: 0
    100% 
       opacity: 1