.header 
    position: fixed
    top: 0
    width: 100%
    z-index: 50
    transition: all 0.15s
    @media ( min-width: 1024px )
        padding-right: calc(17px - (100vw - 100%)) 

.header.scroll
    transform: translateY(-57px)
    animation-name: hidden 
    animation-duration: 0.15s
    @media ( max-width: 991px )
        transform: translateY(0px)
        animation: none

@keyframes hidden
    0%
        transform: translateY(0px)
    100%
        transform: translateY(-57px)

.header-top
    background: $primary
    @media ( max-width: 991px )
        display: none
    &__wrapper
        padding: 1rem 0
        display: flex
        justify-content: space-between
        align-items: center
    &--button
        font-size: 1.2rem
        letter-spacing: 0.6px
        &:hover
            background: #ffffff
            color: $txt-color
    &__icon
        margin-right: 0.5rem
        width: 3rem
        height: 2.2rem
        fill: rgba(255,255,255,0.5)
        transition: all 0.2s
    &__branch
        display: flex
        align-items: center
        span 
            color: #ffffff
            cursor: pointer
        &:hover
            .header-top__icon
                transition: all 0.2s
                fill: rgba(255,255,255,1)
    &__email
        display: flex
        align-items: center
        a
            color: #ffffff
        &:hover
            .header-top__icon
                transition: all 0.2s
                fill: rgba(255,255,255,1)
        @media ( max-width: 1150px )
            display: none
    &__info
        display: flex
        align-items: center
    &__eye
        margin-left: 1.7rem
        display: flex
        align-items: center
        a 
            position: relative
            color: #ffffff
            &::after
                content: ''
                position: absolute
                bottom: -1px
                left: 0
                background-color: rgba(255,255,255,0.5)
                width: 100%
                height: 1px
                transition: all 0.2s
        @media ( max-width: 1150px )
            display: none
        &:hover
            a::after
                transition: all 0.2s
                background-color: rgba(255,255,255,1)
            .header-top__icon
                transition: all 0.2s
                fill: rgba(255,255,255,1)

.header-bottom
    position: relative
    background: #ffffff
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
    &__container
        display: flex
        align-items: center
        justify-content: space-between
    &__wrapper
        width: 100%
        padding: 1.2rem 0
        display: flex
        align-items: center
        justify-content: space-between
    &__button
        padding: 1.5rem 4rem
        @media ( max-width: 440px )
            padding: 1.2rem 2.5rem
            font-size: 1.1rem
        @media ( max-width: 380px )
            font-size: 1rem
            padding: 1rem 2rem
    &__logo
        max-width: 14.4rem
        max-height: 6.6rem
        overflow: hidden
        img 
            max-width: 100%
            height: auto
        @media ( max-width: 1330px )
            max-width: 10rem
        @media ( max-width: 440px )
            max-width: 9rem
        @media ( max-width: 380px )
            max-width: 8rem
    .nav
        margin: 0 2rem
        ul 
            display: flex
            align-items: center
        &__list
            margin-right: 3.5rem
            &:last-child
                margin-right: 0
            a 
                position: relative
                padding-bottom: 0.625em
                font-size: 1.6rem
                text-transform: uppercase
                letter-spacing: 0.16px
                &::after
                    content: ''
                    position: absolute
                    bottom: 0
                    left: 0
                    width: 100%
                    height: 0.25em
                    opacity: 0
                    background: $secondary
                    border-radius: 0.625em
                    transition: all 0.2s
                &:hover
                    &::after
                        opacity: 1
                @media ( max-width: 1330px )
                    font-size: 1.3rem
        @media ( max-width: 1150px )
            display: none

.burger-button
    position: absolute
    width: 4.5rem
    height: 4.5rem
    display: flex
    align-items: center
    justify-content: center
    top: 50%
    transform: translateY(-50%)
    left: 2.5rem
    cursor: pointer
    &:hover
        .burger-button__icon
            fill: $secondary
    &__icon
        width: 2.8rem
        height: 2.8rem
        transition: all 0.2s
    @media ( max-width: 1330px )
        margin-right: 15px
        position: inherit
        transform: translateY(0%)

.search-button
    position: absolute
    width: 4.5rem
    height: 4.5rem
    display: flex
    align-items: center
    justify-content: center
    top: 50%
    transform: translateY(-50%)
    right: 2.5rem
    cursor: pointer
    &:hover
        .search-button__icon
            fill: $secondary
    &__icon
        width: 2.4rem
        height: 2.4rem
        transition: all 0.2s
    @media ( max-width: 1330px )
        margin-left: 15px
        position: inherit
        transform: translateY(0%)

.sticky 
  position: fixed
  top: 0
  width: 100%