.programme
    position: relative
    margin-top: 6.5rem
    padding: 8rem 0
    background: $primary
    &::after
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: url(../images/programme/prog-bg.png) no-repeat 
        background-position: top
    &__title
        position: relative
        padding-bottom: 2rem
        color: #ffffff
        &::after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 10rem
            height: 0.5rem
            border-radius: 3px
            background-color: $secondary
    &__subtitle
        margin-bottom: 0.66667em
        color: #ffffff
        font-size: 3rem
    &__wrapper
        position: relative
        z-index: 5
        margin-top: 2rem
    &-tabs
        margin-bottom: 3.5rem
    &__content
        display: flex
        flex-wrap: wrap
    &-item
        margin-right: 0.7rem
        margin-bottom: 0.7rem
        display: flex
        padding: 2rem
        width: 38.5rem
        min-height: 18rem
        box-shadow: 0 1rem 2rem rgba(204, 204, 223, 0.3)
        border-radius: 1rem
        background-color: #ffffff
        transition: all 0.2s
        &:nth-child(3)
            margin-right: 0
        &:last-child
            margin-right: 0
        &:hover
            box-shadow: 0 0.8rem 2rem rgba(0,0,0, 0.35)
        &__icon
            margin-right: 2rem
        &__svg
            width: 4.5rem
            height: 4.5rem
            fill: $primary
        &__title
            margin-bottom: 0.571428em
            color: $secondary
            font-size: 1.4rem
            font-weight: 500
            text-transform: uppercase
            letter-spacing: 0.012857em
        &__descr
            margin-bottom: 1rem
            font-weight: 500
            line-height: 2rem
        &__budget
            padding: 0.35714em 0.85714em
            border-radius: 0.92857em
            background-color: #817f7b
            color: #ffffff
            font-size: 1.4rem
            line-height: 1
            align-self: flex-end
