.subscribe
    background: url('../images/subscribe-bg.jpg') no-repeat
    background-size: cover
    background-position: center
    &__wrapper
        padding: 6.2rem 0
        display: flex
        align-items: center
        justify-content: space-between
        @media ( max-width: 1200px )
            padding: 5rem 0
            flex-wrap: wrap 
            justify-content: center
    &__title
        margin-right: 0.416667em
        color: #ffffff
        font-size: 3.6rem
        font-weight: 500
        @media ( max-width: 1200px )
            font-size: 2.6rem
            margin-bottom: 1.5rem
    &__form
        form 
            display: flex
            align-items: center
            @media ( max-width: 767px )
                flex-wrap: wrap
                justify-content: center
    &__button 
        padding: 0 3.21428571em
        height: 3.21428571em
        border-radius: 3px
        border: none 
        background: #9ecb45
        color: #ffffff
        font-size: 1.4rem
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 1.4px
        line-height: 1
        cursor: pointer
        transition: background 0.2s
        @media ( max-width: 500px )
            width: 100%
        &:hover
            background: darken(#9ecb45, 10%)
    &__input 
        margin-right: 0.9375em
        padding: 0 0.9375em
        width: 28.75em
        height: 2.8125em
        font-size: 1.6rem
        border-radius: 3px
        background: transparent
        border: 2px solid rgba(255, 255, 255, 0.3)
        @media ( max-width: 767px )
            width: 100%
            margin-bottom: 1.5rem
            margin-right: 0
    input[type="email"]
        color: #ffffff
    input[type="email"]::-moz-placeholder
        color: #ffffff
    input[type="email"]::-webkit-input-placeholder
        color: #ffffff
    input[type="email"]:-ms-input-placeholder
        color: #ffffff
    input[type="email"]::-ms-input-placeholder
        color: #ffffff
    input[type="email"]::placeholder
        color: #ffffff