.tags
    display: flex
    align-items: center
    flex-wrap: wrap 
    &__btn
        font-size: 1.4rem
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 0.7px
        padding: 15px 25px
        border-radius: 23px
        transition: all 0.2s
        &:hover
            background: $secondary
            color: #ffffff
    
.tags__btn.active
    background: $secondary
    color: #ffffff